.App {
  max-width: 1440px;
  min-width: 320px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EndTest {
  width: 280px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas', sans-serif;
  color: #fff;
  font-size: 25px;
  background-color: #f7aa41;
  border-radius: 8px;
}